<h1>Hi <%= @user.first_name %></h1>
<h2>Your order is ready. </h2>
<h3>Order details: </h3>
<p>
  Order ID: <%= @order.id %>.<br>
</p>
<p>
   Total: <%= @order.total %>.<br>
</p>
<p>Thanks for allowing us to serve you!</p>